.user_box {
    display: flex;
    margin-left: 99px;
    grid-column-gap: 25px;
}

.smallWindow {
    display: inline-flex;
    margin-left: 150px;
    border-color: red;
    border-style: solid;
    width: 174px;
    height: 94px;
}

.hide {
    display: none;
    width: 240px;
}

.block {
    display: block;

}

.reklamation:after {
    cursor: pointer;
    content: '\2807';
    font-size: 2em;
    color: #0096C7;
    width: 46px;
    height: 46px;
    border-color: #EAEAEA;
    border-style: solid;
}

.divWithAll {
    width: 772px;
    border-color: #EAEAEA;
    border-style: solid;
}

.heart {
    border-style: solid;
    border-color: #EAEAEA;
    width: 46px;
    height: 46px;
}

.oneSmallElement {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reklama {
    display: inline-flex;
    border-color: #EAEAEA;
    border-style: solid;
    width: 174px;
    height: 94px;
}
