.smallMenu {
    display: flex;
    margin: 0;
    width: 1440px;
    height: 48px;
    background-color: silver;
}

.candidate {
    color: #EAEAEA;
}

.employer {
    color: #FFFFFF;
    font-weight: bold;
}

.hr {
    color: #EAEAEA;
}

.smallMenu2 {
    display: flex;
    position: absolute;
    left: 1280px;
    justify-content: center;
    align-items: center;
}
