.smallMenu {
    display: flex;
    width: 1440px;
    height: 48px;
    background-image: url("https://ak.picdn.net/shutterstock/videos/17978689/thumb/1.jpg");
}

.candidate {
    color: #EAEAEA;
}

.employer {
    color: #FFFFFF;
    font-weight: bold;
}

.hr {
    color: #EAEAEA;
}

.smallMenu2 {
    display: flex;
    position: absolute;
    left: 1280px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 12px;
    color: #EAEAEA;
}

.smallMenu2 a {
    color: #FFFFFF;
}
