.mainFooter {
    height: 333px;
    display: flex;
}

footer {
    display: flex;
    grid-column-gap: 228px;
    padding-left: 363px;
    background-image: url("https://ak.picdn.net/shutterstock/videos/17978689/thumb/1.jpg");
    color: #FFFFFF;
    width: 100%;
}

.icons {
    display: flex;
    grid-column-gap: 22px;
    color: #FFFFFF;
    margin-top: 87px;
}
.icons svg {
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    max-width: 150px;
}
